/STGProject/Assembly-CSharp.csproj
/STGProject/GenjitsuLAB.Core.csproj
/STGProject/STGProject.sln
/STGProject/.vs
/STGProject/Library
/STGProject/Logs
/STGProject/obj
/STGProject/UserSettings
/STGProject/.vsconfig
/STGProject/Assets/CODEX_HANDOFF.md
/STGProject/Assets/CODEX_HANDOFF.md.meta
/STGProject/Temp
/STGProject/GenjitsuLAB.Animation.Editor.Tests.csproj
/STGProject/GenjitsuLAB.Animation.Editor.csproj
/STGProject/PsdPlugin.csproj
/STGProject/ScriptablePacker.csproj
/STGProject/Unity.2D.Animation.Editor.csproj
/STGProject/Unity.2D.Animation.Runtime.csproj
/STGProject/Unity.2D.Aseprite.Common.csproj
/STGProject/Unity.2D.Aseprite.Editor.csproj
/STGProject/Unity.2D.Common.Editor.csproj
/STGProject/Unity.2D.Common.Path.Editor.csproj
/STGProject/Unity.2D.Common.Runtime.csproj
/STGProject/Unity.2D.IK.Editor.csproj
/STGProject/Unity.2D.IK.Runtime.csproj
/STGProject/Unity.2D.PixelPerfect.Editor.csproj
/STGProject/Unity.2D.PixelPerfect.csproj
/STGProject/Unity.2D.Psdimporter.Editor.csproj
/STGProject/Unity.2D.SpriteShape.Editor.csproj
/STGProject/Unity.2D.SpriteShape.Runtime.csproj
/STGProject/Unity.2D.Tilemap.Extras.Editor.csproj
/STGProject/Unity.2D.Tilemap.Extras.csproj
/STGProject/Unity.2D.Tooling.Editor.csproj
/STGProject/Unity.Burst.CodeGen.csproj
/STGProject/Unity.Burst.Editor.csproj
/STGProject/Unity.Burst.csproj
/STGProject/Unity.CollabProxy.Editor.csproj
/STGProject/Unity.Collections.CodeGen.csproj
/STGProject/Unity.Collections.Editor.csproj
/STGProject/Unity.Collections.csproj
/STGProject/Unity.InputSystem.DocCodeSamples.csproj
/STGProject/Unity.InputSystem.ForUI.csproj
/STGProject/Unity.InputSystem.TestFramework.csproj
/STGProject/Unity.InputSystem.csproj
/STGProject/Unity.InternalAPIEditorBridge.001.csproj
/STGProject/Unity.InternalAPIEngineBridge.001.csproj
/STGProject/Unity.Mathematics.Editor.csproj
/STGProject/Unity.Mathematics.csproj
/STGProject/Unity.PerformanceTesting.Editor.csproj
/STGProject/Unity.PerformanceTesting.csproj
/STGProject/Unity.PlasticSCM.Editor.Entities.csproj
/STGProject/Unity.PlasticSCM.Editor.csproj
/STGProject/Unity.Rider.Editor.csproj
/STGProject/Unity.Timeline.Editor.csproj
/STGProject/Unity.Timeline.csproj
/STGProject/Unity.VisualScripting.Core.Editor.csproj
/STGProject/Unity.VisualScripting.Core.csproj
/STGProject/Unity.VisualScripting.DocCodeExamples.csproj
/STGProject/Unity.VisualScripting.Flow.Editor.csproj
/STGProject/Unity.VisualScripting.Flow.csproj
/STGProject/Unity.VisualScripting.SettingsProvider.Editor.csproj
/STGProject/Unity.VisualScripting.Shared.Editor.csproj
/STGProject/Unity.VisualScripting.State.Editor.csproj
/STGProject/Unity.VisualScripting.State.csproj
/STGProject/Unity.VisualStudio.Editor.csproj
/STGProject/Assembly-CSharp-firstpass.csproj
/STGProject/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/STGProject/GenjitsuLAB.STG.Tests.csproj
/STGProject/Assembly-CSharp-Editor.csproj
