/STGProject/Assembly-CSharp.csproj
/STGProject/GenjitsuLAB.Core.csproj
/STGProject/STGProject.sln
/STGProject/.vs
/STGProject/Library
/STGProject/Logs
/STGProject/obj
/STGProject/UserSettings
/STGProject/.vsconfig
